body{
 font-family: Arial, Helvetica, sans-serif;  
 background: url(Imagen/espacio.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
#timeline{
    content: "";
    position: absolute;
    background: white;
    width: 1px;
    left: 50%;
}
.child{
    position: relative;
    margin: 20px;
    opacity: 0;  
}
.child h4{
    font-weight: bold;
    color: aquamarine;
    
}
/*Pares*/
.child:nth-child(odd){
    float: left;
    border-radius: 20px 0px 20px 20px;
    text-align: left;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 252, 252, 0.432);
    
    
}
.child:nth-child(odd)::before{
 content:'';
 position: absolute;
 background: white;
 border-radius: 50%;
 width: 20px;
 height: 20px;
 left: -30px;
 
}
.child:nth-child(odd)::after{
 content:'';
 position: absolute;
 background: white;
 width: 10px;
 height: 2px;
 left: -10px;
 top: 10px;
}
/*imPares*/
.child:nth-child(even){
    float: right;
    border-radius: 20px 0px 20px 20px;
    text-align: right;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 252, 252, 0.432);
}
.child:nth-child(even)::before{
    content:'';
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -30px;
}
.child:nth-child(even)::after{
    content:'';
    position: absolute;
    background: white;
    width: 10px;
    height: 2px;
    right: -10px;
    top: 10px;
}
.content{
    width: 180px;
    padding: 15px;
    color: white;
    background: rgba(12, 1, 1, 0.384);
    border-radius: 20px 0px 20px 20px;
    
}

.content img{
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
}

/*Animation*/
._show{
    opacity: 1;
    animation: _show 1s cubic-bezier(.99,-.7,.2,1.9);
}
._hide{
    opacity: 0;
    animation: 2s cartel infinite;
    transform-origin: center top;
}
/*scroll*/
#scrollbtn{
   position: fixed;
   float: left;
   height: 5em;
   width: 40px;
   border: 0.3em solid white;
   margin: auto;
   right: 10px;
   bottom: 10px;
   border-radius: 3em;
}
#scrollbtn::before{
    position: absolute;
    content: "";
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    height: 12px;   
    width: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    animation: move-down 3s infinite;
}
@keyframes _show{
    0%{transform: translateY(500px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes _hide{
    0%{transform: translateY(0); opacity: 1;}
    100%{transform: translateY(500px); opacity: 0;}
}
@keyframes move-down{
    80%{opacity: 0.5;}
    100%{transform: translateY(4em);
        opacity: 0;}
}

/*splash*/
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 200;
  }
  .splash h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:monospace;
    font-size:25px;
  }
  .splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -10;
    
    transition: all 2s;
  }
  @keyframes fadeIn{
    to{
      opacity: 1;
    }
  }
  .fadeIn{
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
  }
  
  .line {
    border-right:2px solid rgba(255,255,255,.75);
    color:#ddd;
    margin:0 auto;
    text-align:center;
    white-space:nowrap;
    overflow:hidden;
    display:block;
  }
  .tiping-animation {
    animation:blinkCursor 500ms steps(80) infinite normal, typing 5s steps(80) 1s normal both;
  }
  @keyframes typing {
    from{
      width:0;
    }
    to{
      width:19em;
    }
  }
  
  @keyframes blinkCursor {
    from{
      border-right-color: rgba(255,255,255,.75);
    }
    to{
      border-right-color:transparent;
    }
  }
  